version: "2.3"
services:
  ansible:
    container_name: soc-devsecops-ansible
    image: willhallonline/ansible:2.12-alpine-3.15
    volumes:
      - $PWD:/app
    working_dir: /app
    tty: true
    network_mode: host
    command: /bin/sh
